:root {
  --colorPrimario: #009688;
  --colorSecundario: #ffffff;
  --colorTerciario: #f1f1f1;
  --colorTitulo: #757575;
  --colorDivision: #eeeeee;
  --skillBasica: linear-gradient(to right, #58C77A);
  --skillTotal:  background: linear-gradient(to right, #58C77A, #18A643, #0B812F);
}
.wrapper {
  width: 1375px;
  margin: 0 auto;
  /* border: 1px solid black; */
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  background-color: var(--colorTerciario);
  margin-top: 20px;
  margin: 0;
  padding: 0;
}
/**/
.main {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-areas: "left right1" "left right2";
  grid-gap: 20px;
}
.left {
  grid-area: left;
  background-color: var(--colorSecundario);
}
/*profile*/
.profile {
  /* margin: 0;
  padding: 0; */
  height: 400px;
  background-image: url(../assets/img/profile3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 18px;
  margin: 0;
  padding: 0;
}
hr {
  margin-top: 20px;
}
.profileName {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  margin-left: 15px;
  font-size: 30px;
}
.profileNameTitle {
  background-color: var(--colorSecundario);
}
.blockIcon {
  display: block;
}
.maletaIcon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-image: url(../assets/icon/maleta.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.casaIcon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-image: url(../assets/icon/casa.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.correoIcon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-image: url(../assets/icon/correo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* .profileName::before {
  content: " » ";
}
.profileName::before {
  content: " ";
} */
/*Skill*/
.division {
  color: var(--colorDivision);
}

.skillIcon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-image: url(../assets/icon/skills.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.skill {
  height: 25px;
  /* width: 450px; */
  background-color: var(--colorTerciario);
  border-radius: 25px;
}
/*JS*/
.colorGreenJS{
  height: inherit;
  width: 20%;
  background: linear-gradient(to right, #7BE475, #7BE475);
  border-radius: 25px;
}
.skillPorcentajeJS{
  display: flex;
  justify-content: center;
  padding-top: 4px;
  color: var(--colorSecundario);
  font-size: 15px;
}
/*HTML*/
.skillPorcentajeHTML{
  display: flex;
  justify-content: center;
  padding-top: 4px;
  color: var(--colorSecundario);
  font-size: 15px;
}
.colorGreenHTML{
  height: inherit;
  width: 80%;
  background: linear-gradient(to right, #7BE475, #18A643, #11B608);
  border-radius: 25px;
}
/*CSS*/
.skillPorcentajeCSS{
  display: flex;
  justify-content: center;
  padding-top: 4px;
  color: var(--colorSecundario);
  font-size: 15px;
}
.colorGreenCSS{
  height: inherit;
  width: 60%;
  background: linear-gradient(to right, #7BE475, #18A643, #11B608);
  border-radius: 25px;
}/*PHP*/
.skillPorcentajePHP{
  display: flex;
  justify-content: center;
  padding-top: 4px;
  color: var(--colorSecundario);
  font-size: 15px;
}
.colorGreenPHP {
  height: inherit;
  width: 40%;
  background: linear-gradient(to right, #7BE475, #52D64B, #32CB2A);
  border-radius: 25px;
}
/*Espaniol*/
.skillPorcentajeEspaniol{
  display: flex;
  justify-content: center;
  padding-top: 4px;
  color: var(--colorSecundario);
  font-size: 15px;
}
.colorGreenEspaniol {
  height: inherit;
  width: 100%;
  background: linear-gradient(to right, #7BE475, #18A643, #0B812F);
  border-radius: 25px;
}
/*Ingles*/
.skillPorcentajeIngles{
  display: flex;
  justify-content: center;
  padding-top: 4px;
  color: var(--colorSecundario);
  font-size: 15px;
}
.colorGreenIngles {
  height: inherit;
  width: 40%;
  background: linear-gradient(to right, #7BE475, #52D64B, #32CB2A);
  border-radius: 25px;
}
/*Languages*/
.planetaIcon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-image: url(../assets/icon/planeta.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*Lado derecho 1*/
.right1 {
  grid-area: right1;
  background-color: var(--colorSecundario);
}
.right1Icon {
  display: flex;
  align-items: center;
}
.right1Icon img {
  margin-right: 10px;
}
/*Right 2*/
.education {
  grid-area: right2;
  background-color: var(--colorSecundario);
  /* margin-bottom: 10px; */
}
.educationContainer {
  margin: 0;
  padding: 20px;
}
.educationIcon {
  display: flex;
  align-items: center;
}
.educationTitle {
  display: inline;
}
.descriptionExperience {
  /* margin: 0;
  padding: 0; */
}
.educationIconEducacion {
  margin-right: 10px;
  height: 20px;
  width: 20px;
  background-image: url(../assets/icon/educacion.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.eduactionIconCalendar {
  margin-right: 10px;
  height: 20px;
  width: 20px;
  background-image: url(../assets/icon/calendario.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*Footer*/
.footer {
  width: 100%;
  margin-top: 25px;
  padding: 0;
  background-color: var(--colorPrimario);
}
.footerContainer {
  display: grid;
  /* width: 400px; */
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.iconContainer {
  display: flex;
}
.iconContainer a{
  margin: 0;
}
.iconContainer span{
  margin: 0;
}
.footerContainer a {
  text-decoration: none;
}
.footerContainer span {
  color: var(--colorSecundario);
}
/*Inicia ingreso de usurario*/
/* .imageIngreso{
  height: 100%;
  width: 100%;
  background-color: brown;
  background-image: url(../assets/img/ingreso.jpg);
  background-position: center;
  background-repeat: no-repeat;
} */